// Blues
$blue-100: #a1c9f2;
$blue-200: #87ceeb;
$blue-300: #66afe9;
$blue-400: #4f86f7;
$blue-500: #007bff;
$blue-600: #0069d9;
$blue-700: #0055b3;
$blue-800: #003f8e;
$blue-900: #002f5e;

// Indigos
$indigo-100: #c5cae9;
$indigo-200: #9fa8da;
$indigo-300: #7986cb;
$indigo-400: #5c6bc0;
$indigo-500: #3f51b5;
$indigo-600: #3949ab;
$indigo-700: #303f9f;
$indigo-800: #23328f;
$indigo-900: #1a237e;

// Purples
$purple-100: #d7bde2;
$purple-200: #c5c3c8;
$purple-300: #a77eb8;
$purple-400: #7a49a8;
$purple-500: #6c5ce7;
$purple-600: #5c49a3;
$purple-700: #4c3c96;
$purple-800: #3b326f;
$purple-900: #2e2461;

// Pinks
$pink-100: #ffc5c5;
$pink-200: #ffb6c1;
$pink-300: #ffa07a;
$pink-400: #ff99cc;
$pink-500: #ff69b4;
$pink-600: #ff4da6;
$pink-700: #ff2d6f;
$pink-800: #ff0d55;
$pink-900: #e6004c;

// Reds
$red-100: #ffd7be;
$red-200: #ffc2c2;
$red-300: #ffa07a;
$red-400: #ff99cc;
$red-500: #ff69b4;
$red-600: #ff4da6;
$red-700: #ff2d6f;
$red-800: #ff0d55;
$red-900: #e6004c;

// Oranges
$orange-100: #ffe0b2;
$orange-200: #ffd7a5;
$orange-300: #ffc07f;
$orange-400: #ffa07a;
$orange-500: #ff9900;
$orange-600: #ff8f00;
$orange-700: #ff7f00;
$orange-800: #ff6f00;
$orange-900: #ff5f00;

// Yellows
$yellow-100: #ffffb3;
$yellow-200: #ffff99;
$yellow-300: #ffff80;
$yellow-400: #ffff66;
$yellow-500: #ffff4d;
$yellow-600: #ffff33;
$yellow-700: #ffff1a;
$yellow-800: #ffff00;
$yellow-900: #e6e600;

// Greens
$green-100: #c6efce;
$green-200: #a5d6a7;
$green-300: #8bc34a;
$green-400: #66bb6a;
$green-500: #4caf50;
$green-600: #3e8e41;
$green-700: #2e865f;
$green-800: #1e744f;
$green-900: #0e533f;

// Teals
$teal-100: #b2fffc;
$teal-200: #87fff7;
$teal-300: #64ffda;
$teal-400: #44ffd7;
$teal-500: #1fffcf;
$teal-600: #00ffc7;
$teal-700: #00ffbe;
$teal-800: #00ffa6;
$teal-900: #009688;

// Cyan
$cyan-100: #b2fffc;
$cyan-200: #87fff7;
$cyan-300: #64ffda;
$cyan-400: #44ffd7;
$cyan-500: #1fffcf;
$cyan-600: #00ffc7;
$cyan-700: #00ffbe;
